body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: gray;
  color: black;
  }

  a {
    background-color: black;
    color: white;
    padding: 0em 1em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    background-color: #555;
  }
  
  a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: #ccc;
  }

  a:hover {
    cursor: pointer;
  }
 
  p {
    font-size: 17px;
    line-height: 32px;
    margin-bottom: 12px;
    text-align: center;
  } 

  .image-container{
    width:250px;
    height: 300px;
    text-align: center;
    line-height: 300px;
  }

  .progress-bar {
    position: relative;
    width: 500px;
    height: 3em;
    background-color: black;
    border-radius: 1.5em;
    color: white;
  }

  .progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    bottom: .5em;
    top: .5em;
    width: 78%;
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: #555;
    border-radius: 1em;
    padding: 1em;
  }

  h2 {
    padding: 10px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-width: 5px; 
  }